@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap');

body {
	background-color: #b2b2a0;
}

html {
	height: 100%;
}

#container {
	display: flex;
	flex-direction: column;
	height: 95vh;
}

.flex-end-align {
	align-items: flex-end;
}

.flex-start-align {
	align-items: flex-start;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

/*
--------------------------------------

Info Box

--------------------------------------
*/



#main-area {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
	font-family: 'Roboto Slab', serif;
}

#content-box {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	width: 60%;
	height: 60%;

}

#content-split-left {
	display: flex;
	flex-direction: column;
	width: 35%;
	height: 100%;
	min-height: 650px;
	min-width: 400px;
	align-items: center;
	background-color: #898a74;
	border-radius: 5px; 
}

#developer-footer {
	display: flex;
	align-items: flex-end;
	height: 100%;
}
#developer {
	padding: 5px;
	font-size: 12px;
	background-color: #9b9b8c;
	border-radius: 5px 5px 0 0;
}

#mob-developer {
	display: none;
}

#content-split-right {
	display: flex;
	flex-direction: column;
	width: 65%;
	min-width: 700px;
	height: 100%;
	min-height: 625px;
	justify-content: flex-start;
	align-items: center;
	letter-spacing: 1px;
}


#self-image {
	background: url('../images/me.png');
	background-position: center;
	clip-path: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);
	border-radius: 5px; 
	width: 100%;
	min-height: 450px;
	height: 70%;
}

#name-title {
	padding: 20px;
	letter-spacing: 3px;
	font-size: 24px;

}


@media only screen and (max-width: 1350px) {

	#main-area {
		position: absolute;
		top: 0px;
		left: 0px;
	}
	

	#content-box {
		flex-direction: column;
		width: 100%;
		justify-content: flex-end;
	}
	
	#content-nav-bar {
		display: none;
	}
	
	
	#content-split-left {
		width: 100%;
	}
	
	#content-split-left img{
		width: 64px;
	}
	
	#self-image {
		background-repeat: no-repeat;
	}
	
	#name-title {
		font-size: 48px;
	}
	
	#content-split-right {
		width: 100%;
	}
	
	#developer {
		display: none;
	}
	
	#mob-developer {
		display: block;
		padding: 10px;
	}
}

/*
--------------------------------------

	Content Nav Bar

--------------------------------------
*/



#content-nav-bar {
	display: flex;
	width: 100%;
	background-color: #b2b2a0;
}

#nav-half {
	display: flex;
	justify-content: center;
	width: 70%;
	min-width: 400px;
}

.content-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 0;
	width: 75px;
	padding: 10px;
	margin: 0 10px 0 10px;
	background-color: #9b9b8c;
	text-transform: uppercase;
	font-size: 12px;
}

.content-selected {
	background-color: #858578;
}

#nav-half a {
	text-decoration: none;
	color: black;
}

#about-me {
	margin-left: 10px;
}

.content-button img {
	padding: 5px;
}

/*
--------------------------------------

	Content About

--------------------------------------
*/

#content-content {
	display: flex;
	flex-direction:column;
	height: 100%;
}


#content-about {
	background-color: #858578;
	box-sizing: border-box;
	border-radius: 0 5px 5px 0; 
	width: 100%;
	height: 100%;

}

.content-title {
	display: flex;
	justify-content: flex-end;
	box-sizing: border-box;
	padding: 20px;
	letter-spacing: 3px;
	font-size: 24px;
	text-transform: uppercase;
	width: 100%;
	height: 85px;
	text-align: right;
	border-bottom: 1px dotted #b2b2a0;
}

.title-border {
	padding: 5px;
	border-bottom: 6px solid transparent;
	border-right: none;
	border-top: none;
	border-left: none;
	border-image: linear-gradient(to right, #858578 , #b2b2a0);
	border-image-slice: 1;
	
}

#content-about-main {
	font-family: 'EB Garamond', serif;
	display: flex;
	height: 100%;
}

#about-main {
	display: flex;
	flex-direction: row;
	height: 100%;
}

#about-main-left {
	display: block;
	width: 65%;
	height: 100%;
}

#left-info-box {
 padding: 10px;
 margin: 0 10px 0 10px;
 background-color: #BCBCAA;
 box-sizing: border-box;
 height: 98%;
 border-radius: 0 0 10px 10px;
}

#about-main-right {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 35%;
}

#right-info-box {

	padding: 10px;
	box-sizing: border-box;
	background-color: #767664;
	border-radius: 10px;
	margin: 0 5px 5px 0;
}


#about-main-right .border-bottom {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 5px;
	margin-top: 20px;
	width: 100%;
	margin-left: 5px;
	border-bottom: 2px solid transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-image: linear-gradient(to left, #858578 , #b2b2a0);
	border-image-slice: 1;
}

.info-box-left {
	width: 40%;
	text-align: right;
	margin-right: 15px;
	box-sizing: border-box;
}


.info-box-right {
	width: 60%;
}


#about-main-hobbies {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	margin-left: 5px;
	width: 100%;
	margin-top: 20px;
	padding: 5px;
	border-bottom: 2px solid transparent;
	border-image: linear-gradient(to left, #858578 , #b2b2a0);
	border-image-slice: 1;
}

#about-main-hobbies ul {
	
	letter-spacing: 1px;
	box-sizing: border-box;
	width: 100%;
}

#about-main-hobbies ul li {

	margin-top: 5px;
}


@media only screen and (max-width: 1350px) {
	#content-content {
		margin-left: 0;
	}
	
	#content-about {
		font-size: 32px;
	}
	
	#about-main-left {
		width: 100%;
	}
	
	#left-info-box {
		width: 100%;
		margin: 0px;
	}
	
	#about-main {
		flex-direction: column;
	}
	
	#about-main-right {
		width: 100%;
		box-sizing: content-box;
	}
	
	#about-main-hobbies {
		text-align: center;
	}
	
	.content-title {
		min-height: 125px;
	}
	.info-box-left {
		text-align: center;
	}
	.title-border {
		font-size: 48px;
	}
	
	#right-info-box {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0;

	}
	#about-main-hobbies ul li {
		display: inline;
	}
	
	#about-main-hobbies ul li:not(:first-child):before {
		content: "  --  ";
	}
	
	.flex-row {
		display: flex;
	}
}


/*
--------------------------------------

	Content Projects

--------------------------------------
*/


#content-projects {
	background-color: #858578;
	box-sizing: border-box;
	border-radius: 0 5px 5px 0; 
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.project-content {
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	font-family: 'EB Garamond', serif;
	background-color: #BCBCAA;
}


.project-content-even {
		background-color: #a5a58d;
}

.project-title-bar {
	display: flex;
	flex-direction: column;
}

.project-title {
	text-transform: uppercase;
	font-size: 1.2em;
}

.project-link a{
	text-decoration: none;
	color: black;
	
}

.tech-used li{
	display: inline;
	font-size: 14px;
	margin-left: 10px;
}

.even-row-list {
	direction: rtl;
}

#minor-projects {
	font-family: 'EB Garamond', serif;
	background-color: #BCBCAA;
	display: flex;
}

#minor-projects .project-title {
	font-size: 16px;
}

.minor-project {
	width: 50%;
	padding: 5px;
}

@media only screen and (max-width: 1350px) {
	#content-projects {
		overflow-y: hidden;
	}
	
	
	.project-title {
		text-align: center;
		font-size: 48px;
	}
	.minor-project .project-title {
		text-align: center;
		font-size: 32px !important;
	}
	
	.minor-project:first-child {
		border-right: 1px dashed #a5a58d;
	}
	
	.project-link {
		text-align: center;
		font-size: 30px;
	}
	
	.flex-end-align {
		align-items: center;
	}
	
	.tech-used {
		text-align: center;
		display: flex;
		justify-content: space-around;
	}
	
	.tech-used li {
		font-size: 24px;
		
	}
	
	.even-row-list {
		text-align: center;
		list-style: none;
		font-size: 24px;
	}
	
	.odd-row-list {
		text-align: center;
		list-style: none;
		font-size: 24px;
	}
	
	.project-content p {
		text-align: center;
		font-size: 28px;
	}
	
	
}




/*
--------------------------------------

	Content Contact

--------------------------------------
*/


#content-contact {
	background-color: #858578;
	box-sizing: border-box;
	border-radius: 0 5px 5px 0; 
	width: 100%;
	height: 100%;

}

.display-none {
	display: none;
}


#contact-main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#contact-middle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	height: 90%;
	background-color: #BCBCAA;
	border-radius: 10px;
}
#contact-middle a {
	text-decoration: none;
	font-style: italic;
	color: black;
}

#contact-middle tr td:first-child {
	text-align: right;
}

#contact-middle tr td {
	padding: 5px;
}

@media only screen and (max-width: 1350px) {
	#content-nav-bar {
		display: none;
	}
	
	#content-split-right {
		margin-top: 20px;
	}
	
	#content-about {
		display: block;
		margin-top: 20px;
		border-radius: 5px; 
		height: 100%;
	}
	
	
	#content-projects {
		display: block;
		margin-top: 20px;
		border-radius: 5px; 
		height: 100%;
	}
	
	#content-contact {
		display: block;
		margin-top: 20px;
		border-radius: 5px;
		height: 100%;		
	}
	
	#contact-middle {
		width: 100%;
		border-radius: 0;
	}
	
	#contact-middle td {
		font-size: 24px;
	}
	
}





