@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap');

body {
	background-color: #b2b2a0;
}

#container {
	display: flex;
	flex-direction: column;
	height: 95vh;
}


#nav-header {
	display: flex;
	width: 100%;
}

.nav-header-split {
	display: flex;
	width: 50%;
	justify-content: center;
}

.nav-button {
	padding: 25px;
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}


/*
--------------------------------------

Info Box

--------------------------------------
*/



#main-area {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
	font-family: 'Roboto Slab', serif;
}

#content-box {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	width: 60%;
	height: 60%;

}

#content-split-left {
	display: flex;
	flex-direction: column;
	width: 35%;
	height: 100%;
	min-height: 650px;
	min-width: 400px;
	align-items: center;
	background-color: #898a74;
	border-radius: 5px; 
}

#content-split-right {
	display: flex;
	flex-direction: column;
	width: 65%;
	min-width: 700px;
	height: 100%;
	min-height: 625px;
	justify-content: flex-start;
	align-items: center;
	letter-spacing: 1px;
}


#self-image {
	background: url('../images/me.png');
	background-position: center;
	clip-path: polygon(0% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%);
	border-radius: 5px; 
	width: 100%;
	min-height: 450px;
	height: 70%;
}

#name-title {
	padding: 20px;
	letter-spacing: 3px;
	font-size: 24px;

}


@media only screen and (max-width: 1350px) {
	#content-box {
		flex-direction: column;
		width: 100%;
		justify-content: flex-end;
	}
	
	#content-nav-bar {
		display: none;
	}
	
	
	#content-split-left {
		width: 100%;
	}
	
	#content-split-left img{
		width: 64px;
	}
	
	#self-image {
		background-repeat: no-repeat;
	}
	
	#name-title {
		font-size: 48px;
	}
	
	#content-split-right {
		width: 100%;
	}
}

/*
--------------------------------------

	Content Nav Bar

--------------------------------------
*/



#content-nav-bar {
	display: flex;
	width: 100%;
	background-color: #b2b2a0;
}

#nav-half {
	display: flex;
	justify-content: center;
	width: 50%;
	min-width: 400px;
}

.content-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 0;
	width: 75px;
	padding: 10px;
	margin: 0 10px 0 10px;
	background-color: #9b9b8c;
	text-transform: uppercase;
	font-size: 12px;
}

.content-selected {
	background-color: #858578;
}

#nav-half a {
	text-decoration: none;
	color: black;
}

#about-me {
	margin-left: 10px;
}

.content-button img {
	padding: 5px;
}

/*
--------------------------------------

	Content About

--------------------------------------
*/

#content-content {
	display: flex;
	flex-direction:column;
	margin-left: 10px;
	height: 100%;
}


#content-about {
	display: block;
	background-color: #858578;
	box-sizing: border-box;
	border-radius: 0 5px 5px 0; 
	width: 100%;
	height: 100%;



}

#content-title {
	display: flex;
	justify-content: flex-end;
	box-sizing: border-box;
	padding: 20px;
	letter-spacing: 3px;
	font-size: 24px;
	width: 100%;
	height: 85px;
	text-align: right;
	border-bottom: 1px dotted #b2b2a0;
}

.title-border {
	padding: 5px;
	border-bottom: 6px solid transparent;
	border-image: linear-gradient(to right, #858578 , #b2b2a0);
	border-image-slice: 1;
}

#content-about-main {
	font-family: 'EB Garamond', serif;
	display: flex;
	flex: 1;
	flex-direction: column;

}

#about-main {
	display: flex;
	height: 100%;

}

#about-main-left {
	width: 65%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#left-info-box {
 padding: 10px;
 margin: 0 10px 0 0;
 background-color: #BCBCAA;
 height: 100%;
}

#about-main-right {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 35%;
}

#right-info-box {
	padding: 10px;
	box-sizing: border-box;
	background-color: #767664;
	border-radius: 10px;
	margin: 0 5px 5px 0;
}


#about-main-right .border-bottom {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 5px;
	margin-top: 20px;
	width: 100%;
	margin-left: 5px;
	border-bottom: 2px solid transparent;
	border-image: linear-gradient(to left, #858578 , #b2b2a0);
	border-image-slice: 1;
}

.info-box-left {
	width: 50%;
	text-align: right;
	margin-right: 15px;
	box-sizing: border-box;
}


.info-box-right {
	width: 50%;
}


#about-main-hobbies {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	margin-left: 5px;
	width: 100%;
	margin-top: 20px;
	padding: 5px;
	border-bottom: 2px solid transparent;
	border-image: linear-gradient(to left, #858578 , #b2b2a0);
	border-image-slice: 1;
}

#about-main-hobbies ul {
	letter-spacing: 1px;
	box-sizing: border-box;
	width: 100%;
}

#about-main-hobbies ul li {
	margin-top: 5px;
}


@media only screen and (max-width: 1350px) {
	
	
}


/*
--------------------------------------

	Content Projects

--------------------------------------
*/


#content-projects {
	display: none;
	background-color: #858578;
	box-sizing: border-box;
	border-radius: 0 5px 5px 0; 
	width: 100%;
	height: 100%;
	padding: 5px;
}

/*
--------------------------------------

	Content Contact

--------------------------------------
*/


#content-contact {
	display: none;
	background-color: #858578;
	box-sizing: border-box;
	border-radius: 0 5px 5px 0; 
	width: 100%;
	height: 100%;
	padding: 5px;
}



@media only screen and (max-width: 1350px) {
	#content-nav-bar {
		display: none;
	}
	
	#content-split-right {
		margin-top: 20px;
	}
	
	#content-about {
		display: block;
		margin-top: 20px;
		border-radius: 5px; 
		height: 100%;
	}
	
	
	#content-projects {
		display: block;
		margin-top: 20px;
		border-radius: 5px; 
		height: 100%;
	}
	
	#content-contact {
		display: block;
		margin-top: 20px;
		border-radius: 5px;
		height: 100%;		
	}
	
}





